@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="siteorigin-widget-tinymce textwidget">
    <p>Your privacy is critically important to us. &nbsp;At Home Appliances Memphis, we have a few fundamental principles:</p>
    <ul>
        <li>We are thoughtful about the personal information we ask you to provide and the personal information that we collect about you through the operation of our services.</li>
        <li>We store personal information for only as long as we have a reason to keep it.</li>
        <li>We aim to make it as simple as possible for you to control what information on your website is shared publicly (or kept private), indexed by search engines, and permanently deleted.</li>
        <li>We help protect you from overreaching government demands for your personal information.</li>
        <li>We aim for full transparency on how we gather, use, and share your personal information.</li>
    </ul>
    
  </div>